.calculator {
  width: 35vh;
  margin: 0 auto;
  background-color: #161616;

  border-radius: 5px;
  box-shadow: 0 0 15px black;
}

.display {
  width: auto;
  height: 10vh;
  background-color: #666751 !important;
  font: normal 4rem serif;
  color: #f2f2f2;
}

.calculator-buttons {
  color: #f2f2f2;
  cursor: pointer;
}

.calculator-buttons th:hover {
  background-color: #33393f !important;
}